<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}"  media="screen"/>

    <link type="text/css" rel="stylesheet" href="{% static 'CSS/additional.css' %}"  />
  {% block js %}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
  <!-- <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
  <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>
  -->{% endblock %}
  {% load static %}
  <script type="text/javascript" src="{% static 'js/playMusic.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/viewHistory.js' %}"></script>
  {% block extrajs %}
  {% endblock %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Synphony{% endblock title %}</title>
  {% load static %}
  <link type="text/css" rel="stylesheet" href="{% static 'CSS/additional.css' %}" />
  {% block navbar %}
  <ul class="ul-base">
    {% if not request.user.is_anonymous %}
    <li class="navbar"><a href="{% url 'logout' %}">Logout</a></li>
    <li class="navbar"><a href="#"><b>{{request.user}}</b></a></li>
    <li class="navbar"><a href="{% url 'studio' %}">Create Studio</a></li>
    <li class="navbar"><a href="{% url 'view_history' %}">View History</a></li>
    {% else %}
    {% block loginnav %}
    <li class="navbar"><a href="{% url 'login' %}">Login</a></li>
    {% endblock %}
    {% endif %}
  </ul>
  {% endblock %}
</head>

<body>
  <h1 class='text-center'>Synphony</h1>
  <div class="container d-flex h-100">
    <div class="row justify-content-center" style="width: 100%;">
        {% block main %}

      {% endblock %}
    </div>
  </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

{% block footer %}
<footer>
  <div class="footer text-center element">
    <h6>©
      <script>
        document.write(new Date().getFullYear())
      </script>
      , made by Alan / Nicole / Mia / Suqi
    </h6>
  </div>
</footer>
{% endblock %}

</html>
