{% extends 'synphony/base.html' %}
{% block title %}Studio{% endblock title%}
{% block main %}
<form action=/synphony/adgjlsfhk/getSongs/ method = "POST">
    {% csrf_token %}
    <input id="song-name" name="song-name" type="text" size="100" placeholder="Search by typing song titles" required><br/>
    <button id="song-name-submit" name="song-name-submit" type="submit"/>Get</button>
</form>
<!-- Below is the search result -->
<div class="search-box-result-wrapper">
    {% for song in list %}
    <li>{{song.name}}, by: {{song.ar}}  <button id="{{song.id}}" onclick=addSongs(this.value) name="song-name-add" type="submit" value="{{song.id}}"/>Add</button></li>
    {% endfor %}
</div>
<!-- Audio -->
<audio controls autoplay controller class="audio" id="music-bar">
    <source  type="audio/mpeg">
        <source src="" type="audio/mpeg">
          Your browser does not support the audio element.
</audio>

<!-- Below is the playlist of the studio -->
<table  class="table table-bordered"  id="myTable">
<tbody>
    <!-- NEED TO CHANGE BY NICOLE -->
    {% csrf_token %}
    {% for music in musics %}
    <tr>
        <td>{{music.name}}</td>
            <td>{{music.description}}</td>
            
            <td>
                <button class="btn deleteBtn" data-id="{music.id}">Delete</button>
                <button class="btn updateBtn" data-id="{music.id}">Update</button>
            </td>
        </tr>
        {% endfor %}
        <!-- {{show}} -->
</tbody>
</table>
{% endblock main%}
{% block extrajs %}
  {% load static %}
    <script src="{% static 'js/addSongs.js' %}"></script>
{% endblock extrajs%}
