{% extends 'synphony/base.html' %}
{% block title %}Studio{% endblock title%}
{% block main %}
<form action=/synphony/ method = "POST">
    {% csrf_token %}
    <input id="song-name" name="song-name" type="text" size="100" placeholder="Search by typing song titles" required><br/>
    <button id="song-name-submit" name="song-name-submit" type="submit"/>Get</button>
</form>

<div class="search-box-result-wrapper">
    {% for song in list %}
    <li>{{song.name}}, by: {{song.ar}}  <button id="{{song.name}}" onclick=addSongs(this.value) name="song-name-add" type="submit" value="{{song.id}}"/>Add</button></li>
    {% endfor %}
</div>
<audio controls autoplay controller class="audio" id="music-bar">
    <source  type="audio/mpeg">
        <source src="" type="audio/mpeg">
          Your browser does not support the audio element.
</audio>
{% endblock main%}
{% block extrajs %}
  {% load static %}
    <script src="{% static 'js/addSongs.js' %}"></script>
{% endblock extrajs%}
