<!-- This is the log in page, user can register or log in through gmail account -->

{% extends 'synphony/base.html' %}
{% block title %}SignIn for synphony{% endblock title %}
{% block main %}
{% load static %}
{% block loginnav %}
{% endblock %}

<!--<style type="text/css">
    body {
        background-image: url('{% static "media/login.jpg" %}');
        background-repeat: no-repeat;
        background-size: 1450px 690px;
    }
</style>-->

<div class="container pt-3">
    <div class="row justify-content-sm-center">
        <div class="card border-info text-center">

            <div class="card-header">
                Sign in to continue
            </div>
            <form method="POST" class="form-signin"> {% csrf_token %}
                <div class="card-body">
                    Username:{{ form.username }}<br><br>
                    Password: {{ form.password1 }}<br><br>
                    <a href="/synphony/0123456789abcdef"><input type="submit" class="btn btn-dark "
                            value="Login"></a><br><br>
                    {% if errors %}
                    <div class="alert alert-warning" role="alert"><b>{{errors}}</b></div>
                    {% endif %}
                    <h7>Don't have an account yet? <a href="{% url 'signup' %}" class="alert-link "> Sign up.</a></h7><br><br>
                    <span class="badge badge-light">Login with</span>
                    <a href="{% url 'social:begin' 'google-oauth2' %}">
                       <img src = "{% static 'media/gmail.jpg' %}" height="50em" width="100em" alt="Gmail">
                      </a>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="back side"><span class='dot'></span></div>
    <div class="left side"><span class='dot'></span></div>
    <div class="right side"><span class='dot'></span></div>
    <div class="top side"><span class='dot'></span></div>
    <div class="bottom side"><span class='dot'></span></div>
    <div class="front side"><span class='dot'></span></div>
</div>

{% endblock %}