.to_right {
    width: 0;
    height: 0;
    border-left: 10px solid black;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.theme {
  margin-top: 11%;
  font-size: 60px;
  display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    text-shadow: 0 0 2px grey;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}
.theme:hover,
.theme:focus,
.theme:active {
    transform: scale(1.1);
}

/* Pulse */
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.hvr-pulse {
  margin-top: 20%;
  color: white;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}


.title_synphony{
  font-size: 30px;
  margin-bottom: 30px;
}

.ul-base {
    list-style-type: none;
    margin: 0;
    padding: 0;
   
  }

  .navbar {
    float: right;
   
  }

  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .footer{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 2em;
    margin-top: 3em;
    width: 100%;
    height: 2.5rem;
    background-color:#383838;
    color: white;
    text-align: center;
            /* Footer height */
  }

  body{
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    background-size: 1450px 690px;
  }

  title{
    font-family: 'Source Sans Pro', sans-serif;
  }
  /* #commentcontent {
    width: 200px;
    height: 200px;
  } */



  /* .app-name{
    color: white;
    padding: 8px;
    background-color:#383838;
    font-family: cursive;
  }

  .card-body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .app-label{
    color: white;
    padding: 8px;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .card-header{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-style: oblique;

  }

  .element {
    animation: pulse 3s infinite alternate both;
  }

  @keyframes pulse {
    0% {
      background-color: gray;
    }
    100% {
      background-color: black;
    }
  }


  @keyframes bouncing{
    0%  { bottom: 0; box-shadow: 0 0 5px rgba(0,0,0,0.5);}
    100%{ bottom: 50px; box-shadow: 0 50px 50px rgba(0,0,0,0.1);}
  }

  .loading-button{ animation: bouncing 0.5s cubic-bezier(0.1,0.25,0.1,1) 0s infinite alternate both;}

  .audio-control{
    border: solid 5px;
    white-space: normal;
    padding: 5em; */
   /* border-radius: 2em;
    margin-left: -1em;
    margin-top: 1em;
  }  */

  .img.background {
    filter: drop-shadow(8px 8px 10px gray);
  }

  .table-data{
    background-color: whitesmoke;
  }
    /* height: 2.5rem;             */
    /* Footer height */
  /* } */

  .view_history_btn {
   width: 100%;
   margin-bottom: 50px;
  }
  #studio {
    visibility: hidden;
    z-index: 1;
  display: auto;
  position: absolute;
  }
  #comment {
    visibility: hidden;
    z-index: 2;
    /* color:red; */
  display: auto;
  position: absolute;
  }
  #music {
    visibility: hidden;
    z-index: 3;
  display: auto;
  position: absolute;
  }
